<app-navbar></app-navbar>
<div class="backgroundImage">

  <div class="main">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
          <div *ngIf="visible2" class="text-center text-sm text-green-500 bg-green-100 py-4 my-4 rounded-md">{{successMsg}}</div>
          <h1>Create Your PMS Account</h1>



          <div *ngIf>{{errorMsg}}</div>
          <div *ngIf>{{successMsg}}</div>

        <div>
            <label>Full Name</label>
            <input type="name" name="name" ngModel placeholder="Jane Doe">
        </div>

          <div>
              <label>Email address</label>
              <input type="email" name="email" ngModel placeholder="janedoe@yopmail.com">
          </div>

          <div>
              <label>Password</label>
              <input type="password" name="password" ngModel placeholder="*********">
          </div>

          <div>
            <input type="submit" [disabled]="registerForm.invalid" value="Create Account">
            <a>Proceed to login?</a>
        </div>

        <div *ngIf="visible" class="text-center text-sm text-red-500 bg-red-100 py-4 my-4 rounded-md">{{errorMsg}}</div>


      </form>
  </div>
</div>


